<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="dist/main.css" rel="stylesheet" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.40/dist/shoelace.js"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        padding: 0;
        margin: 0;
      }
      .tooltip {
        z-index: 999;
        border-radius: 4px;
        padding: 4px;
        background-color: var(--j-color-ui-700);
        color: var(--j-color-white);
      }
      .layout {
        display: grid;
        grid-template-columns: 120px 250px 2fr;
      }
      .logo {
        display: block;
        padding-top: var(--j-space-600);
        padding-left: var(--j-space-300);
      }
      .nav {
        display: flex;
        flex-direction: column;
        gap: var(--j-space-500);
        padding-top: var(--j-space-600);
      }
      .main-content {
        scroll-behavior: smooth;
      }
      .communities {
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        padding-top: var(--j-space-600);
        display: flex;
        gap: var(--j-space-600);
        align-items: center;
        flex-direction: column;
        border-right: 1px solid var(--j-color-ui-100);
      }
      .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        padding: var(--j-space-400);
        overflow-y: auto;
        overscroll-behavior: contain;
        border-right: 1px solid var(--j-color-ui-100);
      }
      .section {
        padding: var(--j-space-800);
        margin-bottom: var(--j-space-800);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <main class="layout">
        <aside class="communities">
          <j-community-item
            @click="activeView = 'elements'"
            :selected="activeView === 'elements'"
            initials="E"
            id="elements"
          ></j-community-item>
          <j-popover
            class="tooltip"
            event="mouseover"
            placement="right"
            selector="#elements"
          >
            Elements
          </j-popover>
          <j-community-item
            @click="activeView = 'patterns'"
            id="patterns"
            :selected="activeView === 'patterns'"
            initials="P"
          ></j-community-item>
          <j-popover
            class="tooltip"
            event="mouseover"
            placement="right"
            selector="#patterns"
          >
            Patterns
          </j-popover>
        </aside>
        <aside class="sidebar">
          <j-text class="logo" variant="heading-sm">
            <span v-if="activeView === 'elements'">Junto Elements</span>
            <span v-if="activeView === 'patterns'">Junto Patterns</span>
          </j-text>
          <nav id="navtarget" class="nav">
            <j-menu-group-item
              :title="key"
              open
              v-for="(group, key) in groupedSections"
              :key="key"
            >
              <a
                style="text-decoration: none"
                v-for="(section, index) in group"
                :key="section.id"
                :href="'#' + section.id"
              >
                <j-menu-item size="lg">
                  <sl-icon
                    v-if="section.icon"
                    slot="start"
                    :name="section.icon"
                  ></sl-icon>
                  {{section.title}}
                </j-menu-item>
              </a>
            </j-menu-group-item>
          </nav>
        </aside>
        <div class="main-content">
          <section
            v-for="section in sections"
            :key="section.id"
            class="section"
            :id="section.id"
          >
            <j-text variant="heading-sm">{{section.title}}</j-text>
            <j-knobs :element="section.tagName" v-html="section.example">
            </j-knobs>
          </section>
        </div>
      </main>
    </div>

    <script src="dist/main.js" type="module"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            activeView: "elements",
            patterns: [],
            elements: [
              {
                id: "text",
                title: "Text",
                tagName: "j-text",
                group: "primitives",
                icon: "text-paragraph",
                href: "#text",
                example: `<j-text variant="heading">The quick brown fox jumped over the lazy dog</j-text>`,
              },
              {
                id: "button",
                title: "Button",
                icon: "app",
                tagName: "j-button",
                group: "primitives",
                href: "#button",
                example: `<j-button>Button text</j-button>`,
              },
              {
                id: "radio-button",
                title: "Radio button",
                icon: "record-circle",
                tagName: "j-radio-button",
                group: "form",
                href: "#radio",
                example: `<j-radio-button name="radio">Radio button</j-radio-button>`,
              },
              {
                id: "checkbox",
                title: "Checkbox",
                icon: "check2-square",
                tagName: "j-checkbox",
                group: "form",
                href: "#checkbox",
                example: `<j-checkbox name="radio">Radio button</j-checkbox>`,
              },
              {
                id: "input",
                title: "Input",
                icon: "pencil",
                tagName: "j-input",
                group: "form",
                href: "#input",
                example: `
                  <j-input
                    label="First Name"
                    placeholder="Joe Doe"
                    min="10"
                    type="number"
                    help-text="This is the help text">
                  </j-input>
                `,
              },
              {
                id: "select",
                title: "Select",
                icon: "menu-button-wide",
                tagName: "j-select",
                group: "form",
                href: "#select",
                example: `
                  <j-select>
                    <j-menu>
                      <j-menu-item>Hello</j-menu-item>
                      <j-menu-item>Hello</j-menu-item>
                    </j-menu>
                  </j-select>
                `,
              },
              {
                id: "modal",
                title: "Modal",
                icon: "chat-square",
                tagName: "j-select",
                group: "primitives",
                href: "#modal",
                example: `
                  <j-button onclick="modall.open = true">Toggle</j-button>
                  <j-modal id="modall">
                    <header slot="header">
                      <j-text variant="heading">Create something</j-text>
                    </header>
                    <div>
                      <j-input label="Your group name" help-text="Here is some help text"></j-input>
                    </div>
                    <footer slot="footer">
                      <j-button variant="primary" size="lg">Create</j-button>
                      <j-button size="lg">Cancel</j-button>
                    </footer>
                  </j-modal>
                `,
              },
              {
                id: "menu",
                title: "Menu",
                tagName: "j-menu",
                icon: "view-stacked",
                group: "navigation",
                href: "#menu",
                example: `
                  <j-menu>
                    <j-menu-item>Menu item 1</j-menu-item>
                    <j-menu-item>Menu item 2</j-menu-item>
                  </j-menu>
                `,
              },
              {
                id: "menu",
                title: "Menu group",
                tagName: "j-menu-group-item",
                icon: "folder",
                group: "navigation",
                href: "#menu",
                example: `
                  <j-menu>
                    <j-menu-group-item title="Group">
                      <j-menu-item>Menu item 1</j-menu-item>
                    </j-menu-group-item>
                    <j-menu-group-item title="Group">
                      <j-menu-item>Menu item 1</j-menu-item>
                      <j-menu-item>Menu item 2</j-menu-item>
                    </j-menu-group-item>
                  </j-menu>
                `,
              },
              {
                id: "menuitem",
                title: "Menu item",
                tagName: "j-menu-item",
                group: "navigation",
                icon: "view-list",
                href: "#menuitem",
                example: `
                  <j-menu>
                    <j-menu-item>Menu item 1</j-menu-item>
                    <j-menu-item>Menu item 2</j-menu-item>
                  </j-menu>
                `,
              },
              {
                id: "popover",
                title: "Popover",
                icon: "menu-up",
                group: "navigation",
                tagName: "j-popover",
                href: "#popover",
                example: `
                  <div>
                    <button id="popovertarget">Click me</button>
                    <j-popover selector="#popovertarget">
                      <j-menu>
                        <j-menu-item>Title</j-menu-item>
                      </j-menu>
                    </j-popover>
                  </div>
                `,
              },
              {
                id: "communityitem",
                title: "Community item",
                icon: "globe2",
                tagName: "j-community-item",
                group: "navigation",
                href: "#communityitem",
                example: `<j-community-item src="https://i.pravatar.cc/300"></j-community-item>`,
              },
              {
                id: "message-item",
                title: "Message item",
                icon: "chat-text",
                tagName: "j-message-item",
                group: "chat",
                href: "#message",
                example: `
                  <j-message-item timestamp="11/11/2021">
                    <img
                      id="avatar"
                      slot="avatar"
                      src="https://i.pravatar.cc/300"
                    />
                    <a id="username" slot="username">Username</a>
                    <div slot="message">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries, but
                      also the leap into electronic typesetting, remaining
                      essentially unchanged.
                    </div>
                  </j-message-item>
                `,
              },
            ],
          };
        },
        computed: {
          groupedSections() {
            return this[this.activeView].reduce((acc, section) => {
              const group = acc[section.group] || [];
              return {
                ...acc,
                [section.group]: [...group, { ...section }],
              };
            }, {});
          },
          sections() {
            return this[this.activeView];
          },
        },
      });

      const vm = app.mount("#app");
    </script>
  </body>
</html>
