<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="dist/main.css" rel="stylesheet" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.40/dist/shoelace.js"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        padding: 0;
        margin: 0;
      }
      [theme="dark"] {
        --j-left-nav-bg: var(--j-color-white);
        --j-sidebar-bg: var(--j-color-ui-50);
        --j-main-content-bg: var(--j-color-ui-white);
      }
      .tooltip {
        z-index: 999;
        border-radius: 4px;
        padding: 4px;
        background-color: var(--j-color-ui-700);
        color: var(--j-color-white);
      }
      .layout {
        background-color: var(--j-main-content-bg);
        display: grid;
        grid-template-columns: 260px 1fr;
      }
      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--j-space-600);
        padding-top: var(--j-space-600);
        padding-left: var(--j-space-700);
        padding-right: var(--j-space-400);
        padding-bottom: var(--j-space-600);
      }

      .nav {
        display: flex;
        flex-direction: column;
        gap: var(--j-space-500);
        padding-top: var(--j-space-600);
      }
      .main-content {
        max-width: 600px;
        scroll-behavior: smooth;
      }
      .settings {
        height: 100px;
      }
      .sidebar {
        background-color: var(--j-sidebar-bg);
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        overscroll-behavior: contain;
        border-right: 1px solid var(--j-color-ui-50);
      }
      .section {
        padding: var(--j-space-800);
        margin-bottom: var(--j-space-800);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <main class="layout">
        <aside class="sidebar">
          <div class="logo">
            <div>
              <img
                class="logo__img"
                width="25"
                src="https://junto.foundation/dist/junto-home-2.0__logo--rainbow.png?d9ff94e4e39bfd0536e60f760a9e6bd7"
              />
            </div>
            <j-text nomargin class="logo_text" size="600"
              >Junto Elements</j-text
            >
          </div>
          <nav id="navtarget" class="nav">
            <j-menu-group-item
              :title="key"
              open
              v-for="(group, key) in groupedSections"
              :key="key"
            >
              <a
                style="text-decoration: none"
                v-for="(section, index) in group"
                :key="section.id"
                :href="'#' + section.id"
              >
                <j-menu-item size="lg">
                  <j-icon
                    v-if="section.icon"
                    slot="start"
                    :name="section.icon"
                  ></j-icon>
                  {{section.title}}
                </j-menu-item>
              </a>
            </j-menu-group-item>
          </nav>
        </aside>
        <div class="main-content">
          <section
            v-for="section in sections"
            :key="section.id"
            class="section"
            :id="section.id"
          >
            <j-text variant="heading-sm">{{section.title}}</j-text>
            <j-knobs :element="section.tagName" v-html="section.example">
            </j-knobs>
          </section>
        </div>
      </main>
    </div>

    <script src="dist/main.js" type="module"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            editorValue: "Hello",
            darkMode: false,
            sections: [
              {
                id: "text",
                title: "Text",
                tagName: "j-text",
                group: "elements",
                icon: "text-paragraph",
                href: "#text",
                example: `<j-text variant="heading">The quick brown fox jumped over the lazy dog</j-text>`,
              },
              {
                id: "button",
                title: "Button",
                icon: "app",
                tagName: "j-button",
                group: "elements",
                href: "#button",
                example: `<j-button>Button text</j-button>`,
              },
              {
                id: "icon",
                title: "Icons",
                icon: "emoji-smile",
                tagName: "j-icon",
                group: "elements",
                href: "#icon",
                example: `<j-icon name="sun"></j-icon>`,
              },
              {
                id: "radio-button",
                title: "Radio button",
                icon: "record-circle",
                tagName: "j-radio-button",
                group: "elements",
                href: "#radio",
                example: `<j-radio-button name="radio">Radio button</j-radio-button>`,
              },
              {
                id: "checkbox",
                title: "Checkbox",
                icon: "check2-square",
                tagName: "j-checkbox",
                group: "elements",
                href: "#checkbox",
                example: `<j-checkbox name="radio">Radio button</j-checkbox>`,
              },
              {
                id: "input",
                title: "Input",
                icon: "pencil",
                tagName: "j-input",
                group: "elements",
                href: "#input",
                example: `
                  <j-input
                    label="First Name"
                    placeholder="Joe Doe"
                    min="10"
                    type="number"
                    help-text="This is the help text">
                  </j-input>
                `,
              },
              {
                id: "select",
                title: "Select",
                icon: "menu-button-wide",
                tagName: "j-select",
                group: "elements",
                href: "#select",
                example: `
                  <j-select label="Values" placeholder="Select an option">
                    <j-menu>
                      <j-menu-item value="1">Menu 1</j-menu-item>
                      <j-menu-item value="2">Menu 2</j-menu-item>
                    </j-menu>
                  </j-select>
                `,
              },
              {
                id: "tooltip",
                title: "Tooltip",
                icon: "menu-button-wide",
                tagName: "j-tooltip",
                group: "elements",
                href: "#tooltip",
                example: `
                  <j-tooltip title="Hello">
                    <j-button>Button</j-button>
                  </j-tooltip>
                `,
              },
              {
                id: "editor",
                title: "Editor",
                icon: "menu-button-wide",
                tagName: "j-editor",
                group: "elements",
                href: "#editor",
                example: `
                  <j-editor>
                  </j-editor>
                `,
              },
              {
                id: "modal",
                title: "Modal",
                icon: "chat-square",
                tagName: "j-select",
                group: "elements",
                href: "#modal",
                example: `
                  <j-button onclick="modall.open = true">Toggle</j-button>
                  <j-modal id="modall">
                    <header slot="header">
                      <j-text variant="heading">Create something</j-text>
                    </header>
                    <div>
                      <j-input label="Your group name" help-text="Here is some help text"></j-input>
                    </div>
                    <footer slot="footer">
                      <j-button variant="primary" size="lg">Create</j-button>
                      <j-button size="lg">Cancel</j-button>
                    </footer>
                  </j-modal>
                `,
              },
              {
                id: "menu",
                title: "Menu",
                tagName: "j-menu",
                icon: "view-stacked",
                group: "elements",
                href: "#menu",
                example: `
                  <j-menu>
                    <j-menu-item>Menu item 1</j-menu-item>
                    <j-menu-item>Menu item 2</j-menu-item>
                  </j-menu>
                `,
              },
              {
                id: "menu",
                title: "Menu group",
                tagName: "j-menu-group-item",
                icon: "folder",
                group: "elements",
                href: "#menu",
                example: `
                  <j-menu>
                    <j-menu-group-item title="Group">
                      <j-menu-item>Menu item 1</j-menu-item>
                    </j-menu-group-item>
                    <j-menu-group-item title="Group">
                      <j-menu-item>Menu item 1</j-menu-item>
                      <j-menu-item>Menu item 2</j-menu-item>
                    </j-menu-group-item>
                  </j-menu>
                `,
              },
              {
                id: "menuitem",
                title: "Menu item",
                tagName: "j-menu-item",
                group: "elements",
                icon: "view-list",
                href: "#menuitem",
                example: `
                  <j-menu>
                    <j-menu-item>Menu item 1</j-menu-item>
                    <j-menu-item>Menu item 2</j-menu-item>
                  </j-menu>
                `,
              },
              {
                id: "popover",
                title: "Popover",
                icon: "menu-up",
                group: "elements",
                tagName: "j-popover",
                href: "#popover",
                example: `
                  <div>
                    <button id="popovertarget">Click me</button>
                    <j-popover selector="#popovertarget">
                      <j-menu>
                        <j-menu-item>Title</j-menu-item>
                      </j-menu>
                    </j-popover>
                  </div>
                `,
              },
              {
                id: "communityitem",
                title: "Community item",
                icon: "globe2",
                tagName: "j-community-item",
                group: "elements",
                href: "#communityitem",
                example: `<j-community-item src="https://i.pravatar.cc/300"></j-community-item>`,
              },
              {
                id: "message-item",
                title: "Message item",
                icon: "chat-text",
                tagName: "j-message-item",
                group: "elements",
                href: "#message",
                example: `
                  <j-message-item timestamp="11/11/2021">
                    <img
                      id="avatar"
                      slot="avatar"
                      src="https://i.pravatar.cc/300"
                    />
                    <a id="username" slot="username">Username</a>
                    <div slot="message">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries, but
                      also the leap into electronic typesetting, remaining
                      essentially unchanged.
                    </div>
                  </j-message-item>
                `,
              },
            ],
          };
        },
        watch: {
          darkMode: function (val) {
            if (val) document.body.setAttribute("theme", "dark");
            else document.body.removeAttribute("theme");
          },
        },
        computed: {
          groupedSections() {
            return this.sections.reduce(
              (acc, section) => {
                const group = acc[section.group] || [];
                return {
                  ...acc,
                  [section.group]: [...group, { ...section }],
                };
              },
              { "getting started": [], elements: [], patterns: [] }
            );
          },
        },
      });

      const vm = app.mount("#app");
    </script>
  </body>
</html>
