j-knobs nav {
  padding-top: 30px;
  display: block;
}
j-knobs .tabs {
  display: block;
  padding-bottom: 30px;
}
j-knobs select {
  height: var(--j-element-md);
  width: 100%;
}
j-knobs table {
  border-collapse: collapse;
  border-radius: var(--j-border-radius);
  padding: 0;
  margin: 0;
  border: 1px solid var(--j-color-ui-100);
  margin-top: 20px;
  text-align: left;
}
j-knobs table th {
  font-weight: 600;
}
j-knobs table td,
j-knobs table th {
  padding: var(--j-space-500);
  width: 150px;
}
j-knobs table tr:not(:last-of-type) td,
j-knobs table th {
  border-bottom: 1px solid var(--j-color-ui-100);
}
j-knobs .hljs {
  font-size: var(--j-font-size-300);
}
